.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left: 32px;
}

.header-link {
  display: flex;
  flex-direction: row;
  margin-left: -21rem;
  gap: 3rem;
  font-size: larger;
}

a {
  text-decoration: none;
}

.userEmailWhenLogIn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 68rem;
  position: relative;
  top: -70px;
}

.logOut button {
  border: 3px solid red;
  padding: 5px 9px;
  border-radius: 10px;
  background: none;
  color: red;
  font-weight: bold;
}
