.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left: 32px;
}

.header-link {
  display: flex;
  flex-direction: row;
  margin-left: -21rem;
  gap: 3rem;
  font-size: larger;
}

a {
  text-decoration: none;
}

.userEmailWhenLogIn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 68rem;
  position: relative;
  top: -70px;
}

.logOut button {
  border: 3px solid red;
  padding: 5px 9px;
  border-radius: 10px;
  background: none;
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .header-link {
    font-size: smaller;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: -25rem;
  }
  .header_logo {
    width: 14%;
    margin-left: -1rem;
  }
  .userEmailWhenLogIn {
    margin-left: 23rem;
    font-size: 10px;
    margin-top: -22px;
  }
  .logOut button {
    width: 55%;
    font-size: 11px;
    margin-left: 38px;
  }
}
