.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left: 32px;
}

.header-link {
  display: flex;
  flex-direction: row;
  margin-left: -21rem;
  gap: 3rem;
  font-size: larger;
}

a {
  text-decoration: none;
}

.userEmailWhenLogIn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 68rem;
  position: relative;
  top: -70px;
}

.logOut button {
  border: 3px solid red;
  padding: 5px 9px;
  border-radius: 10px;
  background: none;
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .header-link {
    font-size: smaller;
    display: flex;
    flex-direction: row;
    gap: 47px;
    margin-left: -24rem;
  }
  .header_logo {
    width: 14%;
    margin-left: -1rem;
  }
  .userEmailWhenLogIn {
    margin-left: 20rem;
    font-size: 10px;
    margin-top: -27px;
  }
  .logOut button {
    width: 55%;
    font-size: 11px;
    margin-left: 38px;
    cursor: pointer;
    text-align: center;
    padding: 6px 4px;
    margin-left: 13px;
  }
  .search {
    width: 83%;
    margin-bottom: 3rem;
    margin-left: 10px;
    color: black;
  }
}

@media screen and (max-width: 390px) {
  .header-link {
    gap: 12px;
    margin-left: -26rem;
  }
  .userEmailWhenLogIn {
    margin-left: 15rem;
    font-size: 10px;
    margin-top: -29px;
  }
}
