.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #100f0f;
  color: #f8f1f1;
  padding: 5px;
}

@media only screen and (max-width: 480px) {
  .Div {
    margin-left: 0rem;
  }
  .Navbar img {
    margin-left: 11px;
    margin-top: 8px;
  }
}
